.button {
    padding: 5px;
    border: 2px solid white;
    background-color: rgb(47, 46, 44);
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: white;
}

.button:active {
    color: white;
    padding: 3px;
    border: 4px solid white;
}

.button:disabled {
    background-color: gray;
    border-color: black;
    color: black;
}

.delete-button {
  border-color: deeppink;
  color: deeppink;
}

.delete-button:active {
    border: 4px solid deeppink;
    color: deeppink;
}

.open-button {
  border-color: lime;
  color: lime;
}

.open-button:active {
    border-color: lime;
    color: lime;
}

.page-button__current {
  border-color: coral;
  color: coral;
}

.page-button:focus {
  outline: 2px solid aqua;
}

.page-button__current:active {
    color: coral;
    border-color: coral;
}

.nav__button {
  border-color: yellow;
  color: yellow;
}

.nav__button:active {
    padding: 3px;
    border: 4px solid yellow;
    color: yellow;
}
